pkgbase = asphyxia-core
	pkgdesc = Asyphyxia Core w/ all plugins
	pkgver = v1.50
	pkgrel = 1
	url = https://asphyxia-core.github.io
	install = asphyxia-core.install
	arch = x86_64
	makedepends = git
	depends = glibc
	depends = gcc-libs
	options = !strip
	options = staticlibs
	options = !docs
	source = asphyxia-core-v1.50.zip::https://github.com/asphyxia-core/asphyxia-core.github.io/releases/download/v1.50/asphyxia-core-linux-x64.zip
	source = asphyxia-core.service
	source = config.ini.example
	sha256sums = 9d02e367907dcf367c06e2d79070053c35e039966c220d1913aeeb1bd4f15fc0
	sha256sums = e726061cab91edd0e2aa50c11dd742b79d67872bb2e13897b78807b10d34f2e1
	sha256sums = d460cc135a833bbd462d6b983bb2e56ec78182ead76c7b41421df0addc8adbe5

pkgname = asphyxia-core
