[Unit]
After=network.target network-online.target
Description=Asphyxia Core
Wants=network-online.target

[Service]
# Fuck the asphyxia code quality, they always search config by dirname(argv[0])
WorkingDirectory=%t/asphyxia
RuntimeDirectory=asphyxia
ExecStartPre=+find /opt/asphyxia/ -mindepth 1 -maxdepth 1 -exec cp -vr '{}' %t/asphyxia ';'
ExecStartPre=+bash -c "chown -R $(stat -c %%u %t/asphyxia) %t/asphyxia/*"
ExecStartPre=+chmod u=rwx %t/asphyxia
ExecStart=%t/asphyxia/asphyxia-core
ExecStopPost=+install --owner=root -vDm644 %t/asphyxia/config.ini /opt/asphyxia/config.ini
ExecStopPost=+install --owner=root -vdm644 %t/asphyxia/userdata /opt/asphyxia/userdata

AmbientCapabilities=
CapabilityBoundingSet=
DeviceAllow=
DynamicUser=true
MemoryDenyWriteExecute=false
NoNewPrivileges=true
PrivateDevices=true
PrivateMounts=true
PrivateNetwork=false
PrivateTmp=true
PrivateUsers=true
ProcSubset=all
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict
RemoveIPC=true
Restart=always
RestartSec=5s
RestrictAddressFamilies=AF_INET
RestrictAddressFamilies=AF_INET6
RestrictAddressFamilies=AF_UNIX
RestrictAddressFamilies=AF_NETLINK
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallFilter=~@clock
SystemCallFilter=~@cpu-emulation
SystemCallFilter=~@module
SystemCallFilter=~@mount
SystemCallFilter=~@obsolete
SystemCallFilter=~@raw-io
SystemCallFilter=~@reboot
SystemCallFilter=~capset
SystemCallFilter=~setdomainname
SystemCallFilter=~sethostname
SystemCallFilter=~@privileged
SystemCallFilter=~@resources
SystemCallFilter=~@swap
SystemCallFilter=~@debug
LockPersonality=
UMask=0066

[Install]
WantedBy=multi-user.target
