[Unit]
After=network.target network-online.target
Description=Asphyxia Core
Wants=network-online.target

[Service]
StateDirectory=asphyxia
StateDirectoryMode=0700
ExecStart=/opt/asphyxia/asphyxia-core -p %i -d %S/asphyxia
# Fuck the asphyxia code quality, they always search config by dirname(argv[0])
ReadWritePath=/opt/asphyxia

KillSignal=SIGINT
LockPersonality=false
Environment="PATH="
AmbientCapabilities=
CapabilityBoundingSet=
DeviceAllow=
DynamicUser=true
MemoryDenyWriteExecute=false
NoNewPrivileges=true
PrivateDevices=true
PrivateMounts=true
PrivateNetwork=false
PrivateTmp=true
PrivateUsers=true
ProcSubset=all
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict
RemoveIPC=true
Restart=always
RestartSec=5s
RestrictAddressFamilies=AF_INET
RestrictAddressFamilies=AF_INET6
RestrictAddressFamilies=AF_UNIX
RestrictAddressFamilies=AF_NETLINK
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallFilter=~@clock
SystemCallFilter=~@cpu-emulation
SystemCallFilter=~@module
SystemCallFilter=~@mount
SystemCallFilter=~@obsolete
SystemCallFilter=~@raw-io
SystemCallFilter=~@reboot
SystemCallFilter=~capset
SystemCallFilter=~setdomainname
SystemCallFilter=~sethostname
SystemCallFilter=~@privileged
SystemCallFilter=~@resources
SystemCallFilter=~@swap
SystemCallFilter=~@debug
LockPersonality=
UMask=0066

[Install]
WantedBy=multi-user.target
