[Unit]
After=network.target network-online.target
Description=Asphyxia Core
Wants=network-online.target

[Service]
Environment="PATH="
AmbientCapabilities=
CapabilityBoundingSet=
DeviceAllow=
DynamicUser=true
ExecStart=/usr/bin/asphyxia-core
KillSignal=SIGINT
LockPersonality=false

# TODO: copy data to workdir and backup data then clean state dir
ExecStartPre=+/usr/bin/check-userdata
LogsDirectory=asphyxia-core
RuntimeDirectory=asphyxia-core
StateDirectory=asphyxia-core
WorkingDirectory=%t/github-runner-biyun/sequencer
StateDirectoryMode=0700

MemoryDenyWriteExecute=false
NoNewPrivileges=true
PrivateDevices=true
PrivateMounts=true
PrivateNetwork=false
PrivateTmp=true
PrivateUsers=true
ProcSubset=all
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict
RemoveIPC=true
Restart=always
RestartSec=5s
RestrictAddressFamilies=AF_INET
RestrictAddressFamilies=AF_INET6
RestrictAddressFamilies=AF_UNIX
RestrictAddressFamilies=AF_NETLINK
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallFilter=~@clock
SystemCallFilter=~@cpu-emulation
SystemCallFilter=~@module
SystemCallFilter=~@mount
SystemCallFilter=~@obsolete
SystemCallFilter=~@raw-io
SystemCallFilter=~@reboot
SystemCallFilter=~capset
SystemCallFilter=~setdomainname
SystemCallFilter=~sethostname
UMask=0066

[Install]
WantedBy=multi-user.target
